:root {
    --primary-color: #d35649;
    --primary-gray: #98a5a5;
    --primary-blue: #509bd7;
    --gray: #1f1f1f;
    --gray-footer-btn: #444;
    --primary-purple: #575a89;
    --light-gray: #eee;
    --iconesize: 25%;
    --smalltxt: small;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuweb {
    background: var(--primary-color);
}

.menumobile {
    background: var(--primary-color);
}

a {
    color: var(--light-gray);
    text-decoration: none;
}

a:hover {
    color: var(--light-gray);
}

.title {
    font-size: 1rem;
    color: var(--light-gray);
    text-transform: uppercase;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.border-search {
    width: 45%;
    margin: auto;
    border-radius: 5px;
    background: rgba(238, 238, 238, 0.7);
}

.group-2 {
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.border-links {
    width: 30vw;
    padding: 2%;
    border-top: 2px solid #98a5a5;
    border-bottom: 2px solid #98a5a5;
}

.find-us {
    position: absolute;
    width: 20%;
    left: 41%;
    top: 37%;
}

footer {
    background: var(--gray-footer-btn);
}

footer .footer-icone {
    display: flex;
    margin: 0 30px;
    align-items: center;
    justify-content: space-between;
}

.footer-icone .social-media {
    display: flex;
    width: 200px;
}

footer .footer-icone .copyright {
    font-size: xx-small;
}

.xsmall {
    font-size: xx-small;
}

.small {
    font-size: var(--smalltxt);
}

.btn-dark {
    background: var(--light-gray);
    color: var(---primary-gray);
}

a.orange {
    color: var(--primary-color);
}

a.orange:hover {
    text-decoration: underline;
}

a.icone {
    width: 64px;
    height: 32px;
    padding-left: 12px;
    transition: all .8s;
}

a.icone:hover {
    background: var(--primary-blue);
}

.backgroundphoto {
    background-image: url('../Images/group-1.jpg');
    background-size: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    height: 50vh
}

.backgroundphoto form input[type="text"] {
    width: 80%;
    padding: 0.4%;
    border: 1px var(--light-gray);
}

.backgroundphoto form button[type="submit"] {
    border: var(--primary-color);
    background: var(--primary-color);
}

.backgroundphoto button[type="submit"] {
    background: rgba(238, 238, 238, 0.7);
}

.menumobile,
.footermobile,
.card1 {
    display: none;
}

@media all and (max-width:768px) {
    .menuweb,
    .containermobile,
    .CARD2,
    .foot {
        display: none;
    }
    .backgroundphoto {
        height: auto;
    }
    .menumobile,
    .card1 {
        display: block;
    }
    .group-4 {
        border-radius: 60px;
    }
    figcaption {
        position: absolute;
        font-size: .9rem;
        left: 15%;
        top: 15%;
    }
    footer {
        padding: 40px 0;
    }
}


/*search section*/

input[type="search"],
input[type="date"],
input[type="time"] {
    border-radius: 4px;
    border: rgba(238, 238, 238, 0.7);
}

input[type="reset"] {
    width: 100px;
}

.standing {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.col1 {
    margin: 1%;
    position: relative;
}

.col1>figure>figcaption {
    top: 8%;
    color: white;
    font-size: 1.1rem;
    position: absolute;
    margin-left: 15%;
    margin-right: 15%;
}

@media all and (max-width:768px) {
    .standing {
        display: block;
    }
    .location,
    .host {
        width: 300px;
        margin: auto;
    }
}


/*about section*/

.aboutborder {
    width: 85%;
    padding: 3%;
    box-shadow: 0px 0px 5px 0px;
}

.blue {
    font-weight: bold;
    color: var(--primary-blue);
}

.apply {
    padding: 2%;
    color: white;
    font-size: small;
    font-weight: bold;
    border: var(--primary-blue);
    background: var(--primary-blue);
}

.apply:hover {
    background: var(--primary-purple);
}

a.moredetails {
    color: #333;
    text-decoration: none;
}

a.moredetails:hover {
    text-decoration: underline;
}

@media all and (max-width:768px) {
    .aboutcol2 {
        margin-top: 5%;
    }
    iframe {
        width: 90%;
        height: 70%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media all and (max-width:480px) {
    .backgroundphoto {
        background-size: 130%;
    }
}